@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Check here if a word is isogram</h1>


<form action="/action_page.php">
  <label for="AddWord">Write your word here:</label>
  <input type="text" id="AddWord" name="AddWord"><br><br>
  <input type="submit" value="Click here to check">
</form>



@code {

            
    }
