@page "/checkIsogram"
@using Isogram.app.Models;



<PageTitle>Counter</PageTitle>

<h1>Check here if a word is isogram</h1>


<div class="form-group">
  <label for="AddWord">Write your word here:</label>
  <input type="text" id="AddWord" name="AddWord" @bind="word"><br><br>
  <input class="btn btn-outline-success"  @onclick=@(_ =>RepetitiveChar(word)) value="Click here to check">
</div>
<div>
  @if(@result!="")
  {
    <div>
        <span class="badge bg-warning text-dark" style="font-size: 150%"> @result</span>
    </div>
  }
</div>
  <label for="AddWord">Please press F5 to reload for new word 😀</label>



@code {

  public string word;
  public string result;
  public RepetitiveCharModel model = new();

  public void RepetitiveChar(string word)
  {
    result = model.FindIfIsogram(word);
    word = "";
  }
    
}
